<div class="container" style="margin-top: 30px">
<div class="card">
<div class="card-header bg-success"><h2>Item details</h2></div>
<div class="card-body">
<p id="notice"><%= notice %></p>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Countname:</h4></div>
<div class="col-sm-10"><h4><%= @master.CountName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Storecode:</h4></div>
<div class="col-sm-10"><h4><%= @master.StoreCode %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Storename:</h4></div>
<div class="col-sm-10"><h4><%= @master.StoreName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Vendercode:</h4></div>
<div class="col-sm-10"><h4><%= @master.VenderCode %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Vendername:</h4></div>
<div class="col-sm-10"><h4><%= @master.VenderName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Deptcode:</h4></div>
<div class="col-sm-10"><h4><%= @master.DeptCode %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Deptname:</h4></div>
<div class="col-sm-10"><h4><%= @master.DeptName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Subdeptcode:</h4></div>
<div class="col-sm-10"><h4><%= @master.SubDeptCode %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Subdeptname:</h4></div>
<div class="col-sm-10"><h4><%= @master.SubDeptName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Class:</h4></div>
<div class="col-sm-10"><h4><%= @master.Class %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Classname:</h4></div>
<div class="col-sm-10"><h4><%= @master.ClassName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Subclass:</h4></div>
<div class="col-sm-10"><h4><%= @master.SubClass %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Subclassname:</h4></div>
<div class="col-sm-10"><h4><%= @master.SubClassName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Skutype:</h4></div>
<div class="col-sm-10"><h4><%= @master.SKUType %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Specialattribute:</h4></div>
<div class="col-sm-10"><h4><%= @master.SpecialAttribute %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Sku:</h4></div>
<div class="col-sm-10"><h4><%= @master.SKU %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Barcodeibc:</h4></div>
<div class="col-sm-10"><h4><%= @master.BarcodeIBC %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>BarcodeSBC:</h4></div>
<div class="col-sm-10"><h4><%= @master.BarcodeSBC %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Productname:</h4></div>
<div class="col-sm-10"><h4><%= @master.ProductName %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Brand:</h4></div>
<div class="col-sm-10"><h4><%= @master.Brand %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Model:</h4></div>
<div class="col-sm-10"><h4><%= @master.Model %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Unitofmeasure:</h4></div>
<div class="col-sm-10"><h4><%= @master.UnitOfMeasure %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Stock:</h4></div>
<div class="col-sm-10"><h4><%= @master.Stock %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Packsize:</h4></div>
<div class="col-sm-10"><h4><%= @master.PackSize %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Cost:</h4></div>
<div class="col-sm-10"><h4><%= @master.Cost %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Retailprice:</h4></div>
<div class="col-sm-10"><h4><%= @master.RetailPrice %></h4></div>
</div>

<div class="form-group row">
<div class="col-sm-2 col-form-label"><h4>Status:</h4></div>
<div class="col-sm-10"><h4><%= @master.Status %></h4></div>
</div>

<%= link_to 'Edit', edit_master_path(@master), class: 'btn btn-mini btn-success' %> |
<%= link_to 'Back', masters_path , class: 'btn btn-mini btn-warning'%>
