<h2>Import variance data </h2>
<%= form_tag import_variances_path, multipart: true do %>
  <span class="btn btn-large btn-warning btn-file">
  <%= file_field_tag :file %>
  </span>
  <%= submit_tag "Upload location data", class: 'btn btn-mini btn-success' %>
<% end %> </br>

<%= link_to "CLEAR VARIANCE DATA", cleardata_variances_path, :method => :delete, class: 'btn btn-mini btn-danger' %> |
<%= link_to 'ADD NEW RECORD', new_variance_path, class: 'btn btn-mini btn-success' %>

<h1>Variance data</h1>

<div class="media">
<div class="media-body">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Barcode</th>
      <th>Location</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variances.each do |variance| %>
      <tr>
        <td><%= variance.BARCODE %></td>
        <td><%= variance.LOCATION %></td>
        <td><%= variance.QUANTITY %></td>
        <td><%= link_to 'Show', variance , class: 'btn btn-mini btn-info' %></td>
        <td><%= link_to 'Edit', edit_variance_path(variance), class: 'btn btn-mini btn-success' %></td>
        <td><%= link_to 'Destroy', variance, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= will_paginate @locations, renderer: BootstrapPagination::Rails  %>


